.Header{
    max-width: 1567px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 43px 0;
}

.Header nav{
    flex-grow: 1;
}

.Header nav ul{
    display: flex;
    justify-content: center;
}

.Header nav ul li{
    list-style-type: none;
}

.Header nav ul li a{
    color: var(--gray);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 28px;
    transition-duration: 400ms;
}

.Header nav ul li a:hover, .Header nav ul li.active a{
    color: var(--primary);
}

.Header img{
    max-width: 70px;
    padding-right: 100px;
}