.Icons{
    font-size: 60px;
    background-color: var(--lightGray);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    transition-duration: 400ms;
}

.Icons:hover{
    background-color: var(--primary)
}